<a href="https://colab.research.google.com/github/sriramreddy-7/ML/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/CAR DETAILS FROM CAR DEKHO.csv')

In [ ]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

# `df.head()` Display's the first 5 rows (default)

In [ ]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

`def head(n: int=5) -> Self`
Return the first n rows.

This function returns the first n rows for the object based
on position. It is useful for quickly testing if your object
has the right type of data in it.

For negative values of n, this function returns all rows except
the last |n| rows, equivalent to df[:n].

If n is larger than the number of rows, this function returns all rows

In [ ]:
df.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000,125000,Petrol,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000,25000,Petrol,Individual,Manual,First Owner
7,Tata Indigo Grand Petrol,2014,240000,60000,Petrol,Individual,Manual,Second Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000,25000,Petrol,Individual,Manual,First Owner
9,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner

`df.info(verbose=None, buf=None, max_cols=None, memory_usage=None, null_counts=None, show_counts=None, dtype_backend=None)`

Parameters:

1.   verbose: Controls whether to show all columns info (True/False).
     If not specified, pandas decides based on the number of columns.
2.   buf: Buffer to write the output (default is sys.stdout).
3.   max_cols: Limit on the number of columns shown. Default is based
     on the display options.
4.   memory_usage: Shows memory usage of DataFrame (True/False/â€˜deepâ€™).
5.   null_counts (deprecated): Whether to show counts of non-null      entries.
6.  show_counts: If True, shows counts for each column.
7.  dtype_backend: Determines the backend used for dtype, available in
    newer pandas versions.

By default, if you run df.info() with no arguments, it displays a summary of the DataFrame information.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

The `df.isnull()`  and `isna()` both the methods in pandas does not take any parameters.It simply returns a DataFrame of the same shape as df, where each entry is True if that entry is NaN (null), and False otherwise.

In [ ]:
df.isnull()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
4335,False,False,False,False,False,False,False,False
4336,False,False,False,False,False,False,False,False
4337,False,False,False,False,False,False,False,False
4338,False,False,False,False,False,False,False,False
4339,False,False,False,False,False,False,False,False

In [ ]:
df.isna()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
4335,False,False,False,False,False,False,False,False
4336,False,False,False,False,False,False,False,False
4337,False,False,False,False,False,False,False,False
4338,False,False,False,False,False,False,False,False
4339,False,False,False,False,False,False,False,False

The expression `df.isnull().sum()` is used to count the number of missing (null) values in each column of a pandas DataFrame.

Breakdown:
df.isnull(): This returns a DataFrame of the same shape as df, where each element is True if it is NaN (or None), and False otherwise.

.sum(): When applied to a DataFrame of Boolean values, True is treated as 1 and False as 0. So, .sum() gives the count of True values (i.e., missing values) for each column

In [ ]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

The `df.dropna()` method in pandas is used to remove rows or columns that contain missing values (NaN or None) from a DataFrame.

Key Features:
Removes missing values: It drops rows or columns that have any missing data (NaN or None).
Flexible options: You can choose to drop rows or columns based on specific conditions (e.g., drop rows with any NaN values or only those with all NaN values).

Parameters:

1. axis:

  0 or 'index' (default) to drop rows.
  1 or 'columns' to drop columns.


2. how:

    'any' (default): Drops a row/column if any of its values are
     missing.
    
    'all': Drops a row/column only if all of its values are missing.

3. thresh: Keeps rows/columns that have at least a certain number of
   non-NaN values. For example, thresh=2 keeps rows that have at least 2 non-NaN values.

4. subset: Allows specifying which rows/columns to check for missing
   values. This is useful when you want to drop based on a specific set of columns.

5. inplace: If True, the operation is done in place and the DataFrame is modified. If False (default), it returns a new DataFrame without modifying the original.

In [ ]:
#df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

The `df.fillna()` method in pandas takes up to 6 parameters, but typically you only use the first two in most common cases


Parameters of fillna():
1. value:

This can be a scalar, dictionary, Series, or DataFrame.
It is the value to replace NaN with. In your example, df.mean() is used, which fills missing values with the mean of each column.

2. method:

Specifies the method used for filling missing values.

  Options: 'ffill' (forward fill) or 'bfill' (backward fill).
  If provided, it ignores the value parameter.


3. axis:

Specifies whether to fill along rows (0) or columns (1).
Default is 0 (fills along rows).

4. inplace:

If True, modifies the original DataFrame.
If False (default), returns a new DataFrame with the missing values filled.

5. limit:

Limits the number of missing values to fill.
For example, limit=1 will only fill the first missing value encountered in each column.

6. downcast:

Used to downcast the data type if possible.
For example, if filling with integers, it tries to downcast to the smallest possible integer type.

In [ ]:
#df.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)

The **df.duplicated()** method in pandas is used to identify duplicate rows in a DataFrame. It returns a Boolean Series where True represents a row that is a duplicate of a previous row, and False indicates a unique row.

`df.duplicated(subset=None, keep='first')`

Parameters:

1. subset (optional):

Specifies which columns to consider when identifying duplicates.
If None (default), it checks for duplicates across all columns.
You can pass a single column label or a list of column labels to focus on certain columns.

2. keep (optional, default 'first'):

Determines which duplicate rows to mark as True:
'first' (default): Marks all duplicates after the first occurrence as True.
'last': Marks all duplicates before the last occurrence as True.
False: Marks all duplicate rows as True.

Returns:
A Boolean Series where:
True indicates a duplicate row.
False indicates a unique row.


`df.duplicated(subset=['A', 'B'])` **#Checks duplicates based only on columns A and B**


`df.duplicated(keep='last')`  **# Marks earlier duplicates instead of later ones**

`df.duplicated(keep=False)`

In [ ]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4335    False
4336    False
4337    False
4338    False
4339    False
Length: 4340, dtype: bool

In [ ]:
df.duplicated(subset=['year'])

0       False
1        True
2       False
3       False
4       False
        ...
4335     True
4336     True
4337     True
4338     True
4339     True
Length: 4340, dtype: bool

The expression` df.duplicated().sum()` is used to count the number of duplicate rows in a pandas DataFrame.

Explanation:
df.duplicated():

This method returns a Boolean Series, where True represents a duplicate row, and False represents a unique row.
.sum():

Since True is treated as 1 and False is treated as 0 in pandas, applying .sum() on the Boolean Series will count the number of True values, which corresponds to the number of duplicate rows.

In [ ]:
df.duplicated().sum()

763

The `df.drop_duplicates()` method in pandas is used to remove duplicate rows from a DataFrame. It can modify the DataFrame in place or return a new one, depending on the parameters specified.

df.drop_duplicates(subset=None, keep='first', inplace=False)

**Parameters:**

subset (optional):

Specifies which columns to consider when identifying duplicates.
Default: None (checks for duplicates across all columns).
Can be a single column label or a list of column labels to check for duplicates only in specific columns.

Example
`df.drop_duplicates(subset=['A', 'B'])`

keep (optional):

Determines which duplicates to keep:
'first' (default): Keep the first occurrence of each duplicate and remove subsequent ones.
'last': Keep the last occurrence of each duplicate and remove earlier ones.
False: Remove all occurrences of duplicates.

Example:

`df.drop_duplicates(keep='last')`  **# Keeps the last occurrence of each duplicate**

`df.drop_duplicates(keep=False) `   **# Removes all occurrences of duplicates**

In [ ]:
df.drop_duplicates(subset=['name'])

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4319,Maruti Swift LDI,2012,400000,70000,Diesel,Individual,Manual,First Owner
4327,Tata Nano XM,2015,190000,60000,Petrol,Individual,Manual,Second Owner
4328,Mahindra Verito 1.5 D6 BSIII,2012,200000,112198,Diesel,Individual,Manual,Second Owner
4334,Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV,2012,600000,170000,Diesel,Individual,Manual,First Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner